@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Nunito:wght@400;800&display=swap');


body {
  font-family: 'Nunito', sans-serif;
  background-color: #F3F3F3;
}

//NavBar
.nav-container {
  margin: auto;
}

//Grid Container
.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

//Link decoration 
a{
  text-decoration: none;
}



